<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'books' %}">All books</a></li>
              <li><a href="{% url 'authors' %}">All authors</a></li>
              <br>
              {% if user.is_authenticated %}
                <li><a href="{% url 'profile_page' user.profile.pk %}">User: {{ user.get_username }}</a></li>
                <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
                <li><form method="post" action="{% url 'logout' %}?next={{ request.path }}">
                    {% csrf_token %}
                    <a href="#" onclick="this.parentNode.submit()">Logout</a>
                </form>
                </li>
              {% if user.groups.all.first.name == 'Librarians' %}
              <hr>
              <br>
                Group: <strong>{{ user.groups.all.first }}</strong>
                <li><a href="{% url 'all-borrowed' %}">All Borrowed</a></li>
              {% endif %}

              {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
             {% endif %}
              <li>
                <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'searching' %}">
                  {% csrf_token %}
                  <input name="searched" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </li>
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10 ">
          <div class="row">{% include 'catalog/messages.html' %}</div>
          <div class="row">
          {% block content %}{% endblock %}
          </div>

        {% block pagination %}
          {% if is_paginated %}

          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        {% endblock %}

        </div>
      </div>
    </div>



  </body>
</html>