{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    {% if perms.catalog.can_mark_returned %}
      <a href="{% url 'author_create' %}">Create new</a>
    {% endif %}

    {% if page_obj %}
    <ul>

      {% for author in page_obj %}
      <li>
        <a href="">{{ author }}</a>
        {% if perms.catalog.can_mark_returned %}
          <a href="{% url 'author_update' author.id %}">Update</a>
          <a href="{% url 'author_delete' author.id %}">Delete</a>
        {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no authors in the library.</p>
    {% endif %}
{% endblock %}
